vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 May 2017 09:48:04 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|chart-chartjs.html form_validation.html blank.html widgets.html buttons.html general.html grids.html profile.html 404.html basic_table.html form_component.html index.html login.html
vti_author:SR|RESEARCH-PC\\Taha
vti_modifiedby:SR|pc\\My pc
vti_timecreated:TR|18 Oct 2016 10:21:54 -0000
vti_cacheddtm:TX|20 May 2017 09:48:04 -0000
vti_filesize:IR|25252
vti_cachedlinkinfo:VX|S|../fonts/ElegantIcons.eot S|../fonts/ElegantIcons.eot S|../fonts/ElegantIcons.woff S|../fonts/ElegantIcons.ttf S|../fonts/ElegantIcons.svg
vti_cachedsvcrellinks:VX|FSUS|fonts/ElegantIcons.eot FSUS|fonts/ElegantIcons.eot FSUS|fonts/ElegantIcons.woff FSUS|fonts/ElegantIcons.ttf FSUS|fonts/ElegantIcons.svg
