vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|23 May 2017 07:05:49 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|chart-chartjs.html form_validation.html blank.html widgets.html buttons.html general.html grids.html profile.html 404.html basic_table.html form_component.html index.html login.html
vti_author:SR|RESEARCH-PC\\Taha
vti_modifiedby:SR|pc\\My pc
vti_timecreated:TR|18 Oct 2016 10:21:54 -0000
vti_nexttolasttimemodified:TW|23 May 2017 07:05:49 -0000
vti_cacheddtm:TX|23 May 2017 07:05:49 -0000
vti_filesize:IR|6245
